{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mb-3">
<nav class="navbar sticky-top navbar-dark bg-primary">
    <a class="navbar-brand" href="/">{{ title }}</a>
    <div class="text-right">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="search">Search</button>
        </form>
    </div>
</nav>
</div>

<div class="col-md-10 col-sm-12">
    <div class="card card-body">
        <span id="list">
        <table class="table">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
            <th>username</th>
            <th>Position</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody id="users">

        </tbody>
      </table>
      </span>
      <span id="detail">

      </span>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="{% static 'js/admin-dash.js' %}"></script>

{% endblock %}